
body {
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}

h1 {
  font-family: 'Sacramento', cursive;
  margin: 0;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color: #ecf4f3;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  position: relative;
}

.bottom-container {

}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.profile-picture {
  border-radius: 25px;
  position: absolute;
  left: 100px;

  height: 100px;
  width: 80px;
}

.profile {
  position: relative;
}

.icon {
  height: 50px;
  position: absolute;
  width: 50px;
}

.skill-row {
  position: relative;
}
